@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html, body {
    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    background-color: #006400;
    color: #CCFF33;
    font-family: 'Alfa Slab One';
    letter-spacing: 1px;
}

.form-criar-conta input {
    display: block;
    margin-inline-start: 76px;
}

button {
    color: #006400;
    background-color: #CCFF33;
    border-color: #CCFF33;
    height: 50px;
    width: 100px;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-links {
    color: #CCFF33;
}

.nav-links:hover {
    color: #004B23;
}

a {
    color: #CCFF33
}

a:hover {
    color: #004B23;
}

input {
    color: #006400;
    background-color: #CCFF33;
    border-color: #CCFF33;
    height: 50px;
    width: 350px;
    border-radius: 12px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagina_redefinir_senha {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.pagina_colaborador {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.pagina_criar_conta {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.pagina_esqueci_senha {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.pagina_login {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.pagina_sobre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: justify;
}

.texto_sobre {
    margin-top: 20px;
    font-size: 19px;
    display: block;
    width: 750px;
    text-align: justify;
}

.pagina_contato {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}

.botao_login {
    color: #006400;
    background-color: #CCFF33;
    border-color: #CCFF33;
    height: 50px;
    width: 100px;
    display: block;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    border-color: #006400;
}

.botao_largo {
    color: #006400;
    background-color: #CCFF33;
    border-color: #CCFF33;
    height: 50px;
    width: 150px;
    display: block;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.botao_largo a {
    text-decoration: none;
    color: #006400;
    width: 120px;
}

.contato_item {
    color: lightblue;
}

.contato_item:hover {
    color: royalblue
}

.pagina_home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    text-align: center;
}

.margem-texto {
    margin-top: 5px;
}

.cheque-box {
    display: inline;
    width: 27px;
}

.texto-cheque-box {
    margin-bottom: 20px;
    align-items: center;
}

.logo_chamaovar_nav > img {
    height: 65px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.cheque-tudo {
    display: table;
}

.menu-usuario h3{
    text-align: center;
    padding: 30px;
}

.menu-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-usuario .score-box {
    padding: 50px;
}

.score-bar {
    border: 2.5px solid black;
    border-radius: 20px;
    width: 400px;
    height: 50px;
    background-color: #CCFF33;
}

.score-value {
    border: 2px solid black;
    border-radius: 15px;
    width: 75%;
    height: 100%;
    background-color: #004B23;
}

.ocorrencias-box {
    background-color: #004B23;
    width: 450px;
    border: 2px solid black;
    border-radius: 15px;
}

.ocorrencias-box h4 {
    padding: 20px;
}

a {
    text-decoration: none;
}

.menu-colaborador {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-colaborador h3 {
    padding: 30px;
}

.menu-editar-ocorrencias {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.buscar-ocorrencias {
    display: flex;
    margin: 10px;
}

    .buscar-ocorrencias input {
        margin: 10px;
    }

    .buscar-ocorrencias button {
        margin: 10px;
    }


.lista-ocorrencias {
    padding: 50px;
}


.item-ocorrencias {
    display: flex;
    align-items: start;
    border: 2px solid #CCFF33;
    border-radius: 10px;
    width: 850px;
    background-color: #004B23;
    margin: 10px;
    padding: 10px;
}

.item-ocorrencias button {
    width:100px;
    margin: 0;
}

.torcedor-revelar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-ocorrencias {
    display: flex;
    flex-direction: row;
     
}

.label-ocorrencias label {
    
}

.info-ocorrencia {
    width: 150px;
    height: auto;
}

form fieldset select {
    background-color: #CCFF33;
    color:gray;
}

form fieldset input {
    background-color: #CCFF33;
    color: gray;
}


form fieldset textarea {
    background-color: #CCFF33;
    color: gray;
    border-radius: 12px;
    height: 100px;
    width: 350px;

}

.botoes-criar-ocorrencia {
    display: flex;
    gap: 56px;
}

form button {
    width:auto;
}

button {
    width: auto;
}

.fieldset-pai {
    background-color: #004B23;
    border-color: black;
    border-radius: 10px;
    padding: 30px 500px 50px 10px;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 50px;
}

.fieldset2-pai {
    background-color: #004B23;
    border-color: black;
    border-radius: 10px;
    padding: 30px 10px 50px 10px;
    border-style: solid;
    border-width: 3px;
    margin-bottom: 50px;
}

.fieldsets-filhos {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    background-color: #004B23;
    border-color: black;
    border-radius: 10px;
    padding: 10px 50px 5px 20px;
    border-style: solid;
    border-width: 3px;
}

.texto_pequeno{
    font-size: 10px;
    padding: 0;
    margin: 0;
    white-space: normal;
}

.texto_maiorzinho {
    font-size: 13px;
    padding: 0;
    margin: 0;
    white-space: normal;
}

.fieldsets-filhos h5{
    padding: 0;
    margin: 0;
    white-space: normal;
}

.preto {
    color: black;
    font-size: 13px;
    white-space: normal;
    background-color: dimgrey;
    border-radius: 3px;
    width: auto;
}

.lista_torcedores {
    margin-left: -20px;
}

.torcedores-da-lista li:hover{
    text-decoration: underline;
}

.container_lista_evento_item {
    display: flex;
    justify-content: space-between;

    margin: 10px;
}

.container_lista_evento_item > div {
    margin: 10px;
    align-self: center;
}

/*
cores do site:

fundo-header: verde muito escuro (004B23)
escrita: verde lim�o claro (CCFF33)
background: verde escuro (006400)
fazer-login/usu�rio/colab: verde lim�o claro (CCFF33)
bot�es: verde lim�o claro (CCFF33)
escrita-bot�o: verde muito escuro (004B23)
placeholders: verde lim�o claro (CCFF33)
escrita-placeholders: verde muito escuro (004B23)
*/  