html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.lading_botao_iniciar {
    color: orangered;
    text-decoration: overline;
}

/*
Verde menta suave (#B8E986) – Um tom fresco e suave que ainda remete ao campo de futebol.
Cinza claro (#F5F5F5) – Ideal para fundos, criando uma atmosfera limpa e moderna.
Azul pastel (#A9CCE3) – Um tom leve que transmite tranquilidade e pode ser usado em menus ou destaques.
Bege claro (#FBE7C6) – Para áreas de texto ou seções que precisam de contraste suave.
Cinza suave (#E0E0E0) – Para bordas, ícones ou pequenas seções que precisam de um tom neutro.
*/  