@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #006400;
    color: #CCFF33;
    font-family: 'Alfa Slab One';
    letter-spacing: 1px;
}

.lading_botao_iniciar {
    color: orangered;
    text-decoration: overline;
}

input {
    color: #006400;
    background-color: #CCFF33;
    border-color: #CCFF33;
    height: 50px;
    width: 350px;
    border-radius: 12px;

    display: block;

    margin-top: 10px;
    margin-bottom: 10px;
}

.pagina_login {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    
    margin-top: 40px;
}

.botao_login {
    color: #006400;
    background-color: #CCFF33;
    border-color: #CCFF33;
    height: 50px;
    width: 100px;
    display: block;
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

    .botao_login:hover {
        border-color: #006400;
    }

/*
cores do site:

fundo-header: verde muito escuro (004B23)
escrita: verde limão claro (CCFF33)
background: verde escuro (006400)
fazer-login/usuário/colab: verde limão claro (CCFF33)
botões: verde limão claro (CCFF33)
escrita-botão: verde muito escuro (004B23)
placeholders: verde limão claro (CCFF33)
escrita-placeholders: verde muito escuro (004B23)
*/  