@page "/colaborador/login"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime

<PageTitle>Entre como colaborador - Chama o VAR</PageTitle>

<div class="pagina_colaborador">

    <h3>Olá, Colaborador!</h3>

    <img src="" class="logo">

    <form>

        <input class="login_input_email" type="email" required placeholder="Digite seu e-mail"/>
        <input class="login_input_senha" type="password" required placeholder="Digite sua senha" />

    </form>

    <a class="nav-links" href="login/esqueci-senha">
        <span>Esqueci minha senha</span>
    </a>

    <button type="button" class="botao_largo" @onclick="TentarLogin">Login</button>
</div>

@code {
    private async void TentarLogin()
    {
        await JsRuntime.InvokeVoidAsync("alert", "Login realizado com sucesso!!");
        //NavigationManager.NavigateTo();
    }
}
