@page "/colaborador/login"
@rendermode InteractiveServer

<PageTitle>Entre como colaborador - Chama o VAR</PageTitle>

<h3>Olá, Colaborador!</h3>

<img src="" class="logo">

<form>

    <input class="login_input" type="email" />
    <input class="login_input" type="password" />

</form>

<button type="button" class="botao_login" @onclick="TentarLogin">Login</button>

@code {
    private void TentarLogin()
    {
        
    }
}
