@page "/contato"
@rendermode InteractiveServer

<PageTitle>Chama o VAR - Contato</PageTitle>

<div class="pagina_contato">
    <h1 class="titulo_contato">Contato</h1>

    <ul class="lista_contato">
        <li>
            Davi Andrade: <a class="contato_item" href="https://github.com/daviteclas">davias1311@gmail.com</a>
        </li>

        <li>
            João Augusto Santana: <a class="contato_item" href="https://github.com/JuaaoA">Sjats2021@gmail.com</a>
        </li>

        <li>
            Michela Salvarez: <a class="contato_item" href="https://github.com/michelasalvarez">michelasalvarez@gmail.com</a>
        </li>

        <li>
            Thalles Marques: <a class="contato_item" href="https://github.com/thallentos">thallescmarques@gmail.com</a>
        </li>
    </ul>
</div>


@code {

}
