@page "/contato"
@rendermode InteractiveServer

<PageTitle>Chama o VAR - Contato</PageTitle>

<div class="pagina_contato">
    <h1 class="titulo_contato">Contato</h1>

    <ul class="lista_contato">
        <li class="contato_item">
            Davi Andrade: email
        </li>

        <li class="contato_item">
            João Augusto Santana: Sjats2021@gmail.com
        </li>

        <li class="contato_item">
            Michela Salvarez: michelasalvarez@gmail.com
        </li>

        <li class="contato_item">
            Thalles Marques: thallescmarques@gmail.com
        </li>
    </ul>
</div>


@code {

}
