@page "/menu-colaborador/editar"

<PageTitle>Editar Ocorrencias</PageTitle>

<div class="menu-editar-ocorrencias">
    <h3>Ocorrências</h3>

    <div class="buscar-ocorrencias">
        <input type="text" class="input-search" />
        <button>Buscar</button>
    </div>

    <div class="lista-ocorrencias">
        <div class="item-ocorrencias">
            <div class="info-ocorrencia">Num. Ocorrencia</div>
            <div class="info-ocorrencia">Autor</div>
            <div class="info-ocorrencia">Evento</div>
            <div class="info-ocorrencia">Acontencimento</div>
            <div class="info-ocorrencia">Data</div>
            <button class="info-ocorrencia">Editar</button>
        </div>
        <div class="item-ocorrencias">
            <div class="info-ocorrencia">Num. Ocorrencia</div>
            <div class="info-ocorrencia">Autor</div>
            <div class="info-ocorrencia">Evento</div>
            <div class="info-ocorrencia">Acontencimento</div>
            <div class="info-ocorrencia">Data</div>
            <button class="info-ocorrencia">Editar</button>
        </div>
    </div>
</div>
