@page "/menu-colaborador/flavas-colab"

<PageTitle>Evento</PageTitle>

<div class="menu-colaborador">
    <h3>Veja as ocorrências e torcedores</h3>
    <h2>Flamengo x Vasco</h2>
    <section>
        <fieldset class="fieldset2-pai">
            <fieldset class="fieldsets-filhos">
                <h5>Lista de torcedores</h5>
                <p class="texto_pequeno">Clique no torcedor desejado para criar ou editar uma ocorrência dele</p>
                <ul class="lista_torcedores">
                    <section class="texto_maiorzinho">
                        <section class="torcedores-da-lista">
                            <li>Função para o nome e o CPF do torcedor aparecer aqui</li>
                            <li>Dentro dela, função para aparecer os botões de criar e editar ocorrência do indíviduo que foi selecionado, igual na página de Editar Ocorrência</li>
                        </section>
                    </section>
                </ul>
            </fieldset>
        </fieldset>
    </section>
    <button class="botao_largo"><a href="/criar-ocorrencia">Criar Ocorrência</a></button>
    <button class="botao_largo"><a href="/menu-colaborador/editar">Editar Ocorrência</a></button>
</div>

@code {

}
