@page "/"

<PageTitle>Chama o VAR - Homee</PageTitle>

<div class="lading_page">
    <img src="#" alt="" class="logo_chama_o_var_inicial" />

    <h1 class="lading_titulo">Sua torcida se diverte em segurança</h1>

    <p>O Chama o VAR administra sua audiência te despreocupando de conflitos em seu evento, seja jogos de futebol, festas e shows</p>

    <NavLink class="lading_botao_iniciar" href="login">
        <span class="lading_texto_iniciar" aria-hidden="true">Iniciar</span>
    </NavLink>
</div>

