@page "/"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<PageTitle>Chama o VAR - Home</PageTitle>

<div class="pagina_home">
    <img src="#" alt="" class="logo_chama_o_var_inicial" />

    <h3>Sua torcida se diverte em segurança</h3>

    <p class="margem-texto">Chama o VAR administra sua audiência, tirando sua preocupação sobre conflitos <br/> em eventos como jogos de futebol, festas e shows</p>

    <button type="button" class="lading_botao_iniciar" @onclick="Iniciar">Iniciar</button>
</div>

@code {
    private async void Iniciar()
    {
        try
        {
            await JsRuntime.InvokeVoidAsync("alert", "Sua segurança começa agora!!");
        }
        catch
        {

        }

        NavigationManager.NavigateTo("/login");
    }
}

