@rendermode InteractiveServer
@using chamaovar.Components.Code

<div class="lista_evento_user">

    @if(eventos != null)
    {
        @foreach(Evento evt in eventos)
        {
            <ListaEventosUsuarioItem
                                     evento="@evt"
                                     >

            </ListaEventosUsuarioItem>
        }
    }

</div>

@code {

    public List<Evento>? eventos;

    protected override async Task OnInitializedAsync()
    {
        eventos = await EventosJSON.JsonToEventos();

        if (eventos == null) return;

        eventos = eventos.Where( o => o.data_evento.CompareTo(DateTime.Now) >= 0).ToList();

        eventos = eventos.OrderByDescending( o => o.data_evento ).ToList();

    }
}

