@page "/menu-colaborador"

<PageTitle>Menu Colaborador</PageTitle>

<div class="menu-colaborador">
    <h3>Bem vindo, Colaborador</h3>

    <button class="botao_largo">Criar Ocorrencia</button>
    <button class="botao_largo"><a href="/menu-colaborador/editar">Editar Ocorrencia</a></button>
    <button class="botao_largo">Deletar Ocorrencia</button>
    <button class="botao_largo">Pesquisar Ocorrencias</button>
</div>
