@page "/menu-colaborador"
@rendermode InteractiveServer 
@inject NavigationManager nav
@using chamaovar.Components.Code

<PageTitle>Menu Colaborador</PageTitle>

<div class="menu-colaborador">
    <h3>Bem vindo, Colaborador</h3>

    <h2>Atalhos: </h2>
    <div class="botoes_iniciais_colaborador">
        <button type="button" class="botao_colaborador" @onclick="GoToEventList">
            <div>Eventos</div>
        </button>

        <button type="button" class="botao_colaborador" @onclick="GoToUsuariosList">
            <div>Usuários</div>
        </button>

        <button type="button" class="botao_colaborador" @onclick="GoToOcorrenciasList">
            <div>Ocorrências</div>
        </button>

        <button @onclick="SairConta">Sair</button>
    </div>

    <div class="informacoes_col_torcedor">

        @if (colaborador != null)
        {
            <div class="scores">
                <div class="colaborador_score_texto">
                    Seu score: @colaborador.score
                </div>

                <progress class="score-bar" value="@colaborador.score" max="1000"></progress>

            </div>

            <div class="ocorrencias-box">
                <h4>Suas Ocorrências: </h4>

                <div class="ocorrencias">
                    <ListaOcorrenciasUsuario tcdr="@colaborador">

                    </ListaOcorrenciasUsuario>
                </div>
            </div>

            <div class="lista_eventos_box">
                <h4> Eventos próximos:</h4>

                <ListaEventosUsuario></ListaEventosUsuario>

            </div>
        }

    </div>

</div>

@code
{
    public Torcedor? colaborador;

    public void GoToEventList()
    {
        nav.NavigateTo("/menu-colaborador/eventos");
    }

    public void GoToUsuariosList()
    {
        nav.NavigateTo("/menu-colaborador/torcedores");
    }

    public void GoToOcorrenciasList()
    {
        nav.NavigateTo("/menu-colaborador/editar");
    }

    public void SairConta()
    {
        TokenSystem.Deslogar();

        nav.NavigateTo("/", true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {

    }

    protected override async Task OnInitializedAsync()
    {
        colaborador = await TokenSystem.GetTorcedorByToken();

        if (colaborador != null)
        {
            if (!colaborador.tecnico)
            {
                nav.NavigateTo("/login");
            }
        }
        else
        {
            nav.NavigateTo("/login");
        }
    }
}
