@page "/menu-usuario"

<PageTitle>Menu Usuario</PageTitle>

<div class="menu-usuario">
    <h3>Bem vindo, Usuário</h3>

    <div class="line"></div>

    <div class="score-box">
        <h4>Sua pontuação: </h4>
        
        <div class="score-bar">
            <div class="score-value"></div>
        </div>
    </div>

    <div class="ocorrencias-box">
        <h4>Ocorrências: </h4>

        <div class="ocorrencias"></div>
    </div>
</div>
