@page "/menu-colaborador"

<PageTitle>Menu Colaborador</PageTitle>

<div class="menu-colaborador">
    <h3>Bem vindo, Colaborador</h3>
    <h2>Lista de Eventos</h2>
    <section>
        <fieldset class="fieldset-pai">
            <fieldset class="fieldsets-filhos">
                <h5>Flamengo x Vasco</h5>
                <p class="texto_maiorzinho">
                    <span class="preto">Local</span>: Maracanã - R. Prof. Eurico Rabelo - Maracanã, Rio de Janeiro - RJ, 20271-150
                    <br /><br />
                    <span class="preto">Data</span>: 25/12/2024 <br />
                    <span class="preto">Horário</span>: 21h às 23h
                </p>
                <p class="texto_pequeno">Clique abaixo para saber mais sobre os torcedores desse evento</p>
                <button class="botao_largo"><a href="/menu-colaborador/flavas-colab">Acessar</a></button>
            </fieldset>
        </fieldset>
    </section>
</div>
