@page "/login/redefinir-senha"
@rendermode InteractiveServer
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<PageTitle>Chama o VAR -  Redefina a senha</PageTitle>

<div class="pagina_redefinir_senha">
    <h3>Redefinir Senha</h3>
    <h5>Um código foi enviado para esse email, <br/>digite-o e informe sua nova senha</h5>

    <form>
        <input type="text" name="código" value="" placeholder="Digite o código" required>
        <input type="password" name="senha" value="" placeholder="Digite sua nova senha" required>
        <input type="password" name="nova-senha" value="" placeholder="Digite novamente sua nova senha" required>
    </form>

    <button type="button" class="botao_largo" @onclick=RedefineSenha>Redefinir senha</button>
</div>

@code {
    private async void RedefineSenha()
    {
        await JsRuntime.InvokeVoidAsync("alert", "Senha realizada com sucesso!!");
        NavigationManager.NavigateTo("login");
    }

}
