@page "/sobre"
@rendermode InteractiveServer

<PageTitle>Chama o VAR - Sobre</PageTitle>

<div class="pagina_sobre">
    <h1 class="titulo_sobre">Sobre</h1>

    <section class="texto_sobre">
        <p>
            Somos uma empresa que visa assegurar eventos de todos os tipos para que não ocorra brigas, 
            tumultos ou qualquer forma de comprometer o evento no qual pessoas pagam para aproveitar.
        </p>

        <p>
            Fazemos isso por meio da verificação da ficha criminal do comprador, sendo que ele só poderá 
            comprar o ingresso mediante a apresentação do CPF (ele estará incluso na impressão do ingresso) 
            que será ultilizado para comprovar, na entrada do evento, se o comprador é a mesma pessoa que está 
            entrando no evento. Após isso, nós validamos que ele não tem antecedentes criminais.
        </p>

        <p>
            Contudo, caso ocorra algum conflito no evento, nós damos a oportunidade da pessoa que trabalha no evento 
            publicar, no nosso banco de dados, que o comprador e participante do evento causou um desentendimento no 
            evento, e ele será penalizado por isso, seja por multa, suspensão de poder participar do evento em que ele
            causou desarmonia e, em último caso, dependendo de como foi o ocorrido, o afastamento permanente do indivíduo 
            no evento.
        </p>
    </section>
</div>


@code {

}
