
.logo_chamaovar_nav {
    
}



a {
    color: #CCFF33;
}

a:hover {
    color: white;
}

.lista_botoes_nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.texto_nav {
    color: #CCFF33;
    text-decoration: none;
    font-size: 25px;
    list-style: none;
}

.texto_nav:hover {
    color: white;
}

.botao_login_nav:hover {
    color: white;
}

.navegacao_tudo {
    overflow: hidden;
    background-color: #004B23;
    display: block;
    width: 100%;
}

.navegacao_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.item_navegacao {
    margin-left: 50px;
    margin-right: 50px;
    list-style-type: none;
    list-style: none;
}

.texto_login {
    color: #CCFF33;

}

.icone_usuario {
    height: 60px;
    width: 60px;
    
    margin-bottom: 5px;
    margin-top: -15px;
    margin-right: 5px;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

/*
cores do site:

fundo-header: verde muito escuro (004B23)
escrita: verde limão claro (CCFF33)
background: verde escuro (006400)
fazer-login/usuário/colab: verde limão claro (CCFF33)
botões: verde limão claro (CCFF33)
escrita-botão: verde muito escuro (004B23)
placeholders: verde limão claro (CCFF33)
escrita-placeholders: verde muito escuro (004B23)
*/  
